<div class="container">
    <div class="card text-center" style="width: 80%;padding-top: 40px;padding-bottom: 40px;">
        <app-loading *ngIf="loading"></app-loading>
        <!-- Esperara primero a que carge la pregunta -->
        <div *ngIf="list_preguntas.length>0">
            <h5>Pregunta {{indice+1}}/{{list_preguntas.length}}</h5>
            <h3 class="card-title">{{obtenerPregunta()}}</h3>
            <ul class="list-group" style="padding-top: 30px;padding-bottom: 30px;width: 60%;margin: auto;">
                <!-- obtenere dinamicamente el index -->
                <li class="list-group-item" *ngFor="let respuesta of list_preguntas[getindex()].listRespuestas"
                 (click)="respuestaSelecionada(respuesta,respuesta.id!)" [ngClass]="agregaropcionclase(respuesta)">
                    {{respuesta.descripcion}}
                </li>
            </ul>
            <div class="mt-auto">
                <button class="btn btn-primary btn-lg btn-sig" [disabled]="!rtaconfirm"
                (click)="siguiente_preg()" *ngIf="indice+1!=list_preguntas.length">Siguiente</button>

                <button class="btn btn-primary btn-lg btn-fin" [disabled]="!rtaconfirm"
                (click)="siguiente_preg()" *ngIf="indice+1==list_preguntas.length">Finalizar</button>
            </div>
        </div>
    </div>
</div>