.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 20px;
    width: 100%;
}
.list-group-item{
    cursor: pointer;
}
.btn-sig{
    margin-top: 20px;
    background-color: orange;
    border-color: orange;
}
