.btnFinalizar{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.material-icons{
    float: right;
}
.preggg{
    background-color: aquamarine;
    min-height: 96vh;
}
.ghfddfh{
    background-color: bisque;
}
h3{
    font-family: 'Rowdies', cursive;
    padding-top: 20px;
}
.jhk{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn-inicio{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}