<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">Datos del Cuestionario</h3>
        <br>
        <form [formGroup]="datosCuestionario" (ngSubmit)="pasoUno()">
            <div class="form-label">
                <input type="text" class="form-control" placeholder="Ingrese titulo del cuestionario" formControlName="titulo">
                <div class="text-danger" *ngIf="datosCuestionario.get('titulo')?.hasError('required') && datosCuestionario.get('titulo')?.touched">
                    El titulo <strong> es requerido </strong>
                </div>
            </div>
            <div class="form-label">
                <textarea rows="3" placeholder="Ingrese descripción del cuestionario" formControlName="descripcion" class="form-control"></textarea>
                <div class="text-danger" *ngIf="datosCuestionario.get('descripcion')?.hasError('required') && datosCuestionario.get('descripcion')?.touched">
                    La descripción <strong> es requerido </strong>
                </div>
            </div>
            <button class="btn btn-success float-end" [disabled]="datosCuestionario.invalid">Siguiente</button>
        </form>
    </div>
</div>