.btn-cues{
    padding: 1rem 2rem;
    border-radius: 300px;
    background-color: rgb(65, 172, 65);
}
.radius{
    width: 100px;
    border-radius: 300px;
    margin-left: 10px;
}
.gap{
    gap:10px;
    
}
.asd{
    color: rgb(243, 247, 18);
    text-decoration: underline;
}
.carddddd{
    width: 31%;
    margin-top: 30px;
}
.dff{
    margin-left: 10%;
    margin-right: 10%;
    gap:3%;
    padding-bottom: 3%;
}
.fas{
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 17px;
}
.btn-info{
    color: white;
}
h1{
    font-family: 'Rowdies', cursive;
    color: rgb(36, 36, 36);
}
.sffs{
    background: url(../../../../assets/imgs/fondo_dashboard.jpeg);
    padding: 0;
    min-height: 100vh;
    width: 96.5%;
    margin-left: 2%;
    background-size: cover;
    z-index: -10;
}
.jumbotron{
    padding-top: 20px;
}