<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding:20px;">
                <h3>Iniciar Sesión</h3>
                <app-loading *ngIf="loading"></app-loading>
                <form [formGroup]="login" (ngSubmit)="log()" style="padding-top: 10px;">
                    <div class="form-group" style="text-align:start;">
                        <input type="text" class="form-control" placeholder="Nombre de Usuario" formControlName="usuario">
                        <!-- valida si esta correcto el usuario y aparece ese mensaje cuando recien das click al input -->
                        <span class="text-danger"
                        *ngIf="login.get('usuario')!.hasError('required') && login.get('usuario')!.touched">
                            El nombre de usuario es <strong>requerido</strong>
                        </span>
                    </div>
                    <br>
                    <div class="form-group"  style="text-align:start;">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                        <!-- valida si esta correcto la contraseña y aparece ese mensaje cuando recien das click al input -->
                        <span class="text-danger"
                        *ngIf="login.get('password')!.hasError('required') && login.get('password')!.touched">
                            La contraseña es <strong>requerida</strong>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="login.invalid" style="width: 100px;">Ingresar</button>
                        <button class="btn btn-secondary" routerLink="/inicio" style="width: 100px;">Volver</button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button class="btn btn-success" routerLink="/inicio/register">Crear cuenta nueva</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>