.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-sig,.btn-sig:active{
    background-color: orange;
    border-color: orange;
    margin-left: 40px;
    width: 150px;
}
input[placeholder]{
    text-align: center;
}
.btn-volver{
    background-color: rgb(160, 160, 160);
    border-color: rgb(160, 160, 160);
    width: 150px;
}
.btn:hover{
    border-width: 3px;
    font-weight: bold;
}
h2{
    font-style: italic;
    font-family: Georgia, serif;
    font-weight: bold;
}