<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <div class="text-center">
            <app-loading *ngIf="loading"></app-loading>
        </div>
        
        <form [formGroup]="cambiarpassword" (ngSubmit)="guardarpassword()">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="passwordAnterior">
                <span class="text-danger ml-3"
                *ngIf="cambiarpassword.get('passwordAnterior')!.hasError('required') &&cambiarpassword.get('passwordAnterior')!.touched">
                    La contraseña es <strong>requerida</strong>
                </span>
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="nuevapassword">
                <span class="text-danger ml-3"
                *ngIf="cambiarpassword.get('nuevapassword')!.hasError('required') &&cambiarpassword.get('nuevapassword')!.touched">
                    La contraseña es <strong>requerida</strong>
                </span>
                <span class="text-danger ml-3"
                *ngIf="cambiarpassword.get('nuevapassword')!.hasError('minlength')">
                    La contraseña tiene que tener como minimo <strong>4 caracteres</strong>
                </span>
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="confirmpassword">
                <span class="text-danger ml-3"
                *ngIf="cambiarpassword.hasError('notSame')">
                    Contraseña <strong>distinta</strong>
                </span>
            </div>
            <br>
            <div class="col text-center">
                <button class="btn btn-primary m-2" [disabled]="cambiarpassword.invalid" type="submit">Aceptar</button>
                <button class="btn btn-secondary m-2" routerLink="../">Volver</button>
            </div>
        </form>
    </div>
</div>