<div class="sffs">
    <div class="text-center">
        <app-loading *ngIf="loading"></app-loading>
    </div>
    <div class="text-center" *ngIf="cuestionario!=null">
        <h1 class="card-title">Respuestas de {{nombre_del_que_resolvio}}</h1>
        <h6 class="card-text">Respondió correctamente {{cant_res_co}} de {{cuestionario.listPreguntas?.length}} preguntas</h6>
        <hr>
        <div *ngFor="let pregunta of cuestionario.listPreguntas;let i=index" style="margin-bottom:20px; width: 80%; margin-left: auto;margin-right: auto;">
            <div class="card card-header">
                <b>{{pregunta.descripcion}}</b>
            </div>
            <ul class="list-group" *ngFor="let respuesta of pregunta.listRespuestas">
                <li class="list-group-item"
                 [ngClass]="{'list-group-item-success':respuesta.esCorrecta==true && respuestas[i].respuestaId==respuesta.id,
                 'list-group-item-danger':respuesta.esCorrecta==false && respuestas[i].respuestaId==respuesta.id}">
                    {{respuesta.descripcion}}
                    <span class="material-icons corr" *ngIf="respuesta.esCorrecta==true && respuestas[i].respuestaId==respuesta.id">
                        check_circle
                    </span>
                    <span class="material-icons incor" *ngIf="respuesta.esCorrecta==false && respuestas[i].respuestaId==respuesta.id">
                        highlight_off
                    </span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <button class="btn btn-secondary btn-lg btn-block" routerLink="/dashboard/estadisticas/{{cuestionario.id}}">Volver</button>
            </div>
        </div>
        <br>
    </div>
</div>