p{
    font-family: 'Rowdies', cursive;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 1px 5px 3px rgb(241, 236, 236);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
hr{
    border-width: 3px;
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    border-color: #e8f53c;
    opacity: 1;
}
.btn-xl{
    margin:70px;
    margin-top: 0;
    padding: 1rem 2rem;
    border-radius: 100px;
}
.btn-xl:hover{
    border-width: 4px;
    font-weight: bold;
}
h5{
    font-family: 'Rowdies', cursive;
    color: orange;
    font-size: 1.5em;
}
.bt-preg{
    background-color: #3cd117;
    border-color: #33ff00;
}
.bt-ing{
    border-color: #0044ff;
}
.bt-preg:active{
    background-color: #3cd117;
    border-color: #33ff00;
}
.bt-ing:active{
    border-color: #0044ff;
}