.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    text-align: center;
    width: 100%;
}
.corr{
    float: right;
    color: green;
    font-size: 27px;
    margin-left: -27px;
}
.incor{
    float: right;
    color: red;
    font-size: 27px;
    margin-left: -27px;
}
.btn-volver{
    background-color: rgb(160, 160, 160);
    border-color: rgb(160, 160, 160);
    width: 150px;
}
.btn:hover{
    border-width: 3px;
    font-weight: bold;
}
.list-group-item-success,.list-group-item-danger{
    font-weight: bold;
}
h1{
    font-style: italic;
    font-family: Georgia, serif;
    font-weight: bold;
}