<div class="container">
    <div class="card" style="padding-top: 40px;padding-bottom: 30px;">
        <h1>Resultado</h1>
        <p class="card-text">Has respondido correctamente {{cant_res_co}} de {{cuestionario.listPreguntas?.length}} preguntas</p>
        <div *ngFor="let pregunta of cuestionario.listPreguntas;let i=index" style="margin-bottom:20px; width: 80%; margin-left: auto;margin-right: auto;">
            <div class="card card-header">
                <b>{{pregunta.descripcion}}</b>
            </div>
            <ul class="list-group" *ngFor="let respuesta of pregunta.listRespuestas">
                <li class="list-group-item"
                 [ngClass]="{'list-group-item-success':respuesta.esCorrecta==true && respuestas_usuario[i]==respuesta.id,
                 'list-group-item-danger':respuesta.esCorrecta==false && respuestas_usuario[i]==respuesta.id}">
                    {{respuesta.descripcion}}
                    <span class="material-icons corr" *ngIf="respuesta.esCorrecta==true && respuestas_usuario[i]==respuesta.id">
                        check_circle
                    </span>
                    <span class="material-icons incor" *ngIf="respuesta.esCorrecta==false && respuestas_usuario[i]==respuesta.id">
                        highlight_off
                    </span>
                </li>
            </ul>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-4 offset-lg-4">
                <button class="btn btn-secondary btn-lg btn-block btn-volver" routerLink="/inicio/ListCuestionarios">Volver</button>
            </div>
        </div>
    </div>
</div>
